@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
  font-family: 'Noto Sans TC', sans-serif;
}

.kaohsiung-travel {
  min-height: 380px;
  width: 100%;
  height: 100%;
  margin: auto;
  background-image: url('../images/Hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.kaohsiung-travel-title {
  margin: 0;
  padding: 89px 0 96px 0;
  text-align: center;
  font-size: 40px;
  letter-spacing: 3px;
}

.kaohsiung-travel-title a {
  color: #FFFFFF;
  text-decoration: none;
}

.administrative-select {
  position: relative;
  display: block;
  width: 452px;
  height: 53px;
  margin: 0 auto 0 auto;
  padding: 15px 285px 12px 9.8px;
  background: rgba(255, 255, 255, 0.70);
  background-image: url('../images/icons_down.png');
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 16px;
  border: 3px solid #FFF;
  border-radius: 3px;
  font-size: 18px;
  box-sizing: border-box;
  -webkit-appearance: none;
  -ms-appearance: none;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: auto;
  padding: 40px;
  box-sizing: border-box;
}

.administrative-hot {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 1rem;
  background: #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20);
  border-radius: 5px;
  box-sizing: border-box;
}

.administrative-hot-title {
  margin: 0;
  padding: 20px 26px;
  font-size: 18px;
  color: #000000;
}

.administrative-hot-btnsGroup {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
}

.administrative-hot-btnsGroup button {
  width: 130px;
  height: 42px;
  border-radius: 5px;
  color: #FFFFFF;
  font-size: 20px;
  border: 0;
}

.administrative-hot-btnsGroup button:nth-child(1) {
  background: #8A82CC;
}

.administrative-hot-btnsGroup button:nth-child(2) {
  background: #FFA782;
}

.administrative-hot-btnsGroup button:nth-child(3) {
  background: #F5D005;
}

.administrative-hot-btnsGroup button:nth-child(4) {
  background: #559AC8;
}

.hr-cust {
  margin-top: 49px;
}

.hr-cust hr {
  border: 1px dashed #559AC8;
}

.hr-cust .hr-icon {
  position: relative;
  width: 24px;
  height: 24px;
  margin: auto;
  bottom: -23px;
  background: #fff;
  background-image: url('../images/icons_down_blue.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 16px;
  border: 1px solid #559AC8;
  border-radius: 50%;
  color: #559AC8;
}

.administrative-title {
  margin: 0;
  margin-top: 76px;
  margin-bottom: 24px;
  font-size: 36px;
  color: #8A82CC;
  text-align: center;
}

.administrative-cards {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.administrative-cards .model-card {
  /* width: 464px; */
  width: calc(94% / 2);
  /* height: 273px; */
  border-radius: 5px;
  margin-bottom: 36px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.20);
  overflow: hidden;
  transition: .2s ease-in;
}

.model-card:hover {
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.20);
}

.card-top {
  position: relative;
  width: 100%;
  height: 155px;
  background-color: #fff;
  background-position: center center;
  background-size: cover;
  transition: .2s ease-in;
}

.model-card:hover .card-top {
  filter: grayscale(.5);
}

.card-top h3,
.card-top h5 {
  position: absolute;
  bottom: 20px;
  margin: auto;
  color: white;
}

.card-top h3 {
  left: 20px;
  font-size: 24px;
  line-height: 28px;
}

.card-top h5 {
  right: 20px;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
}

.card-bottom {
  list-style: none;
  padding-left: 23px;
}

.card-bottom li {
  margin-bottom: 16px;
}

.card-bottom .time {
  background-image: url('../images/icons_clock.png');
  background-repeat: no-repeat;
  padding-left: 25px;
}

.card-bottom .location {
  background-image: url('../images/icons_pin.png');
  background-repeat: no-repeat;
  padding-left: 25px;
}

.card-bottom .phoneTag {
  display: flex;
  justify-content: space-between
}

.card-bottom .phoneTag .phone {
  min-width: 140px;
  background-image: url('../images/icons_phone.png');
  background-repeat: no-repeat;
  padding-left: 25px;
}

.card-bottom .phoneTag .tag {
  background-image: url('../images/icons_tag.png');
  background-repeat: no-repeat;
  padding-left: 25px;
  padding-right: 25px;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination li {
  width: 16px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  background: #fff;
  border: 1px solid rgb(112, 170, 209);
  color: #559AC8;
  cursor: pointer;
  padding: 5px;
}

.pagination li:first-child,
.pagination li:last-child {
  width: 40px;
  height: 26px;
}

.pagination li:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pagination li:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination li:hover,
.pagination li.active {
  color: #fff;
  background: #559AC8;
}

.pagination li.active {
  cursor: default;
}

.pagination li.disable {
  cursor: not-allowed;
  color: #f9f9f9;
  background: #bebebe;
}

.btn-goTop {
  position: fixed;
  right: 50px;
  bottom: 100px;
  width: 48px;
  height: 48px;
  background-size: cover;
  background-image: url('../images/btn_goTop.png');
}

.copyright {
  background: #559AC8;
}

.copyright h3 {
  margin: 0;
  text-align: center;
}

.copyright h3:first-child {
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.copyright h3:last-child {
  color: #FFD366;
  padding-bottom: 40px;
}

.modal-el {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  background-color: rgba(70, 70, 70, 0.5);
}

.modal-el.hide {
  display: none;
}

.modal-el.show {
  display: block;
}

.modal-el .modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 600px;
  height: 600px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
}

.modal-el .modal-header {
  position: relative;
  width: 100%;
  height: 20%;
  background-size: cover;
  background-position: center;
}

.modal-el .modal-header h3 {
  position: absolute;
  bottom: 0;
  margin: 0 0 10px 0;
  padding: 11px;
  color: white;
  font-size: 26px;
  background-color: #7f7f7f61;
}

.modal-el .modal-body {
  width: 100%;
  height: 70%;
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: scroll;
}

.modal-el .modal-body p {
  text-indent: 2em;
  line-height: 1.4rem;
  letter-spacing: .1rem;
}

.modal-el #googleMap #map {
  width: 100%;
  height: 300px;
}

.modal-el .modal-footer {
  display: flex;
  align-items: center;
  padding: 15px;
  width: 100%;
  height: 10%;
  background-color: #e7e7e7;
  box-sizing: border-box;
}

.modal-el .modal-footer .modal-btn-close {
  flex: 1 1 auto;
  padding: 5px;
  color: white;
  background-color: #607D8B;
  border-radius: 10px;
}

.modal-el .modal-footer h5 {
  flex: 3 1 auto;
  margin: 0;
  padding-right: 20px;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .administrative-select {
    width: 80%;
    padding: 5px;
  }
  .administrative-hot-btnsGroup {
    height: 100px;
  }
  .administrative-hot-btnsGroup button {
    width: 45%;
  }
  .administrative-cards .model-card {
    width: 80%;
    margin: auto;
    margin-bottom: 10%;
  }
  .modal-el .modal {
    width: 97vw;
  }
}